<!DOCTYPE html>
<html>
<head></head>
<body>
    <h1>User Page!</h1>
    <h3>Welcome Back <%= @username %></h3>
    <%= link_to "Log Out", logout_path %>
    <a href="/tables">Find or Create A Game!</a>
</body>
</html>